:root{
    --bgcolor:#A67360;
    --logocolor:#261717;
    --leftColor:#592F25;
    --rightColor:#f1e8b0;
    --textColor:#BF8654;
    --headerColor:#2b2a2a;
    --hoverColor:#301f1a;
}

*{
    font-family: verdana;
    margin: 0%;
    padding: 0%;
    background-color: var(--rightColor);
}
html{
    scroll-behavior: smooth;
}
#logo{
    background-color: var(--logocolor);
    text-align: center;
    height: 80px;
    width: 100%;
    margin: 0;    
    float: top;
    top: 0px;
    height: 80px;
    white-space: pre-line;
    position: fixed;
}

#logo h1{
    background-color: var(--logocolor);
    /* padding-top: 20px; */
    color:var(--textColor);
}

#leftColumn{
    background-color:var(--leftColor);
    /* position: relative; */
    left: 0px;
    width: 214px;
    margin-top: 80px;
    height: 100vh;
    float: left;
    position: fixed;
}
#leftColumn ul{
    background-color: var(--leftColor);
    text-decoration: none;
    list-style: none;
    color: var(--textColor);
    width: 100%;
    margin-top: 175px;
}
#leftColumn li{
    background-color: var(--leftColor);
    text-decoration: none;
    color: var(--textColor);
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-top: px; */
}
#leftColumn li:hover{
    background-color: var(--hoverColor);
    transition: 0.5s;
}
#leftColumn a{
    background-color: var(--leftColor);
    text-decoration: none;
    color: var(--textColor);
}

#leftColumn a:hover{
    background-color: var(--rightColor);
}

#Home{
    background-color: var(--rightColor);
    margin-top: 80px;
    position: static;
    width: 88%;
    height: 100vh;
    padding: 10px;
    float: right;
}

#Home h1{
    margin-top: 56px;
    font-size: 64px;
    background-color: var(--rightColor);
    color:var(--headerColor) ;
    margin-left: 56px;
    text-transform: capitalize;
}
#Home h3{
    font-size: 26px;
    background-color: var(--rightColor);
    color:var(--headerColor) ;
    padding-top: 13px ;
    margin-left: 56px;
    text-transform: capitalize;
}

ul, li, p{
    background-color: var(--rightColor);
}
#Home ul{
    margin-left: 76px;
    font-size: 28px;
    list-style: none;
}
#Home p{
    margin-left: 76px;
    font-size: 28px;
    list-style: none;
}
#CoffeePic{
    display: flex;
    position: static;
    float: right;
    margin-top: 123px;
    margin-right: 86px;
    /* border-radius: 50px; */
    background-color: var(--rightColor);
}

#coffeeMenu{
    position: static;
    float: right;
    margin-right: 156px;
    margin-top: 66px;
    border-radius: 50px;
}



#Menu{
    background-color: var(--rightColor);
    position: static;
    width: 88%;
    height: 100vh;
    padding: 10px;
    float: right;
}
#Menu h1{
    margin-top: 103px;
    padding-top: 80px;
    background-color: var(--rightColor);
    font-size: 64px;
    text-align: center;
    color: var(--headerColor);
}
#Location{
    background-color: var(--rightColor);
    position: static;
    width: 88%;
    height: 100vh;
    padding: 10px;
    float: right;
}
#Location h1{
    padding-top: 80px;
    background-color: var(--rightColor);
    font-size: 64px;
    margin-left: 86px;
    margin-top: 123px;
    /* text-align: center; */
    color: var(--headerColor);
}

#Location h3{
    font-size: 36px;
    margin-left: 120px;
    background-color: var(--rightColor);
    color:var(--headerColor) ;
    padding-top: 13px ;
    text-transform: capitalize;
}

#locationPic{
    position: static;
    float: right;
    margin-right: 220px;
    margin-top: 0;
    border-radius: 50px;
}
/* .Location{
   
        background-color: var(--rightColor);
        position: static;
        width: 88%;
        height: 100vh;
        padding: 10px;
        float: right;
   
} */
#Location ul{
    margin-left: 90px;
    font-size: 28px;
    background-color: var(--rightColor);
}

#Location p,#Location li{
    font-size: 23px;
    margin-left: 120px;
    background-color: var(--rightColor);
    padding-top: 13px ;
    text-transform: capitalize;
    /* font-weight: bold; */
}
#Location a{
    background-color: var(--rightColor);
    text-decoration: none;
    color: var(--textColor);   
}
#Jobs{
    background-color: var(--rightColor);
    position: static;
    width: 88%;
    height: 100vh;
    padding: 10px;
    float: right;
}
/* .Jobs{
    background-color: var(--rightColor);
    position: static;
    width: 88%;
    height: 100vh;
    padding: 10px;
    float: right;
} */
#Jobs h1{
    margin-top: 86px;
    padding-top: 80px;
    background-color: var(--rightColor);
    font-size: 93px;
    text-align: center;
    color: var(--headerColor);
}
#Jobs h3{
    font-size: 36px;
    background-color: var(--rightColor);
    color:var(--headerColor) ;
    padding-top: 13px ;
    margin-left: 86px;
    text-transform: capitalize;
    font-style: italic;
}
#Jobs ul{
    margin-top: 36px;
    margin-left: 106px;
    font-size: 28px;
}

#Jobs li{
    background-color: var(--rightColor);
}
#jobPic{
    position: static;
    float: right;
    margin-right: 166px;
    margin-top: -210px;
    border-radius: 50px;
}
#footer{
    background-color: var(--logocolor);
    text-align: center;
    height: 80px;
    width: 100%;
    margin: 0;    
    float: top;
    bottom: 0px;
    height: 80px;
    position: fixed;
    color: var(--textColor);
}

.footerContent{
    background-color: var(--logocolor);
    padding-top: 15px;
}
#footer a{
    background-color: var(--logocolor);
    text-decoration: none;
    color: var(--textColor);   
}

